.box-container{
    border: 1px solid black;
    padding: 1em;
}

.header{
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.body{
    padding-top: 1em;
}

.footer{
    padding-top: 0.5em;
    font-size: x-small;
    font-style: italic;
    border-top: 1px solid black;
}